################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/ifox_site/obj/Debug
/.vs
/ifox_site/bin/Debug
/ifox_site/.vs

