@page
@model ifox_site.TestimonialsModel
@{
}
<section id="dummyspace">

    <div class="container">

    </div>

</section>

<!--Testimonials-->

<section class="section-padding" id="test-area1">
    <div class="container">
        <div class="section-title">
            <h2>Testimonials</h2>

        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 myborderbtm" style="margin-bottom:10px">
                <p class="mb-0"><i class="fa fa-quote-left"></i> ifox @*'&nbsp;*@ approach is a true business partnership. Their consultants have supported our business by building a professional team, HR insights, and quite more. Their field studies have supported us in designing efficient business operations. We are quite surprised by the professional approach and consistency. </p>
                <br />  <footer class="blockquote-footer"><b>Oyvind (Norway)</b></footer>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 myborderbtm" style="margin-bottom:10px">
                <p class="mb-0"><i class="fa fa-quote-left"></i> In the last six months, we have seen just magic. We convey our significant appreciation to ifox for increasing our profitability. The changes the consultants suggested have proved beneficial for our operations in resource management and global resourcing of projects.              </p>
                <br /><footer class="blockquote-footer"><b>Brian Hubbard (UK)</b></footer>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 myborderbtm" style="margin-bottom:10px">
                <p class="mb-0"><i class="fa fa-quote-left"></i> The team consultants at ifox are highly professional, educated, and experienced. They have exhibited uncompromised dedication in helping us set up our startup. One of the best consultants we've been with. Their high responsiveness, innovative approaches, and effective leveraging of high-end technology have designed our business operations to attain the desired efficiency. They hardly miss any beat and are always there with suggestions and intelligent insight. Looking forward to partner OGI Technologies in future projects ahead!              </p>
                <br /><footer class="blockquote-footer"><b>Rick (US)</b></footer>
            </div>
        </div>
    </div>
</section>

