@{
    ViewData["Title"] = "Dynamics CRM 365";
}
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
        <div class="row align-items-center">
            <div class="col-lg-6 section-title">
                <h2>Dynamics CRM 365</h2>
                <p>Microsoft Dynamics CRM is a customer relationship management software package developed by Microsoft focused on enhancing the customer relationship for any organization. Out of the box, the product focuses mainly on Sales, Marketing, and Customer Service sectors, though Microsoft has been marketing Dynamics CRM as an XRM platform and has been encouraging partners to use its proprietary (.NET based) framework to customize it. In recent years, it has also grown as an Analytics platform driven by CRM.</p>
            </div>
            <div class="col-lg-6 text-center">
                <img id="rotatingImage" src="~/assets/img/dynamics365/crm2.png" alt="Alternate Text" width="80%" height="80%">
            </div>
        </div>
</section>

<!--call to action-->

<section id="call-to-action" class="call-to-action section dark-background">

    <img src="assets/img/cta-bg.jpg" alt="">

    <div class="container">

        <div class="row aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-9 text-center text-xl-start">
                <H3>Looking for Microsoft Office 365 experts?</H3>
                <p>Set up a consultation right now.</p>
            </div>
            <div class="col-xl-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="/contact">
                    Get
                    Started
                </a>
            </div>
        </div>

    </div>

</section>
<!--ENDcall to action-->

<!--IMAGE WITH PG-->
<div class="m-0 text-center pt-3 pb-3">
    <h2><b>Unlock the Power of Dynamics 365 CRM with Our Expert Services</b></h2>
</div>
<section id="skills" class="skills section">

    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

        <div class="row">

            <div class="col-lg-6 d-flex align-items-center">
                <img src="~/assets/img/dynamics365/d365 customization.png" width="70%" height="70%" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 pt-4 pt-lg-0 content">

                <h4></h4>
                <p>
                    We at IFOX are experts in designing and implementing Microsoft solutions that
                    revolutionize businesses. Cloud transformation enables maximum savings,
                    mobility, flexibility and instant collaboration for enhanced productivity. With
                    industry expertise we will thrive you in transforming and ongoing management of
                    your teams' Cloud-based platforms, operations, et. IFOX as leading managed
                    Microsoft 365 services providers provide smooth integration and continual
                    support for top performance across your business. Microsoft 365 Consulting
                    Services from IFOX help you use Microsoft's powerful cloud-based solutions to
                    boost your business. We offer customized solutions that are made to fit your
                    specific needs, whether you want to improve teamwork, boost productivity, or
                    make security stronger. Let’s start the revolutionize operational efficiency with
                    IFOX!.
                </p>
                <p><b>Enhanced Optimization:</b></p>
                <p>
                    Discover Our Microsoft Office 365 Managed Services and Enrich the potential of
                    Microsoft solutions with skilled IFOX experts.
                </p>
                <p class="fst-italic">

                    <li>We believed in our potential to achieve more.</li>
                    <li>We recognized the need to go beyond expectations.</li>
                    <li>When technology fell short, we took charge and built superior solutions from scratch.</li>
                    <li>"Good enough" is never enough for us.</li>
                    <li>We're driven by a restless belief that there's always room for improvement.</li>
                    <li>We focus on every detail and take pride in our meticulous approach.</li>
                    <li>24/7 client support</li>
                </p>

            </div>

        </div>
    </div>

    </div>

</section>

<!--END IMAGE WITH PG-->



<section id="services" class="services section-bg">
    <div class="col-lg-12 text-center p-3">
       
    </div>

    <div class="row m-5">
        <div class="col-xl-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-cloud-lightning" aria-hidden="true"></i></div>
                <h4>
                    <a href="">
                        DYNAMICS 365 Implementation</a>
                </h4>
                <p>Our experts will work with you to implement Dynamics 365 in the cloud and help you leverage its benefits, such as scalability, security, cost savings, and performance of Microsoft Azure.</p>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-import"></i></div>
                <h4><a href="">DYNAMICS 365 ON-PREMISES IMPLEMENTATION</a></h4>
                <p>If you prefer to keep your Dynamics 365 environment on-premises, we can help you implement Dynamics 365 on-premises. Our experts will ensure that your system is properly configured and secure.</p>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-support"></i></div>
                <h4><a href="">ONGOING SUPPORT FOR DYNAMICS 365</a></h4>
                <p>We offer a variety of ongoing support services to help you get the most out of your Dynamics 365 investment. Our experts can provide technical support, training, and maintenance services to help you troubleshoot problems and optimize your system.</p>
            </div>
        </div>
    </div>



    <div class="row m-5">
        <div class="col-xl-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-aperture" aria-hidden="true"></i></div>
                <h4><a href="">DYNAMICS 365 Customization</a></h4>
                <p>Our experts will work with you to implement Dynamics 365 in the cloud and help you leverage its benefits, such as scalability, security, cost savings, and performance of Microsoft Azure.</p>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-wrench"></i></div>
                <h4><a href="">DYNAMICS 365 INTEGRATION</a></h4>
                <p>Dynamics 365 is an Enterprise Resource Planning (ERP) and Customer Relationship Management (CRM) solution provider that includes many intelligent business applications such as Sales, Customer Service, Marketing, Project Service, Field Service, Social Engagement, HR, and more.</p>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-server"></i></div>
                <h4><a href="">DYNAMICS 365 DATA-MIGRATION</a></h4>
                <p>Migration data is the data that you move from your legacy system to your Dynamics 365 application. Your legacy system can be another business application or a collection of Excel spreadsheets. You need to migrate the data that's relevant and useful for your Dynamics 365 solution.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container text-center">
            <div class="section-header me-5">
                <h4>Numbers That Speak Success</h4>
            </div>
            <div class="row d-flex align-items-stretch">
                <div class="col-3">
                    <div class="analytics">
                        <div class="analytics-head"><B>80+</B></div>
                        <div class="analytics-para"><B>Bespoke CRM Applciation Deployed</B></div>
                    </div>
                </div>
                <div class="col-3 border-lr">
                    <div class="analytics">
                        <div class="analytics-head"><B>120+</B></div>
                        <div class="analytics-para"><B>Enterprise Application Deployed</B></div>
                    </div>
                </div>
                <div class="col-3 border-lr">
                    <div class="analytics">
                        <div class="analytics-head"><B>90+</B></div>
                        <div class="analytics-para"><B>Client Served globally</B></div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="analytics">
                        <div class="analytics-head"><B>20+</B></div>
                        <div class="analytics-para"><B>Industries Services</B></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
