@{
    ViewData["Title"] = "Dynamics CRM 365";
}
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
        <div class="row align-items-center">
            <div class="col-lg-6 section-title">
                <h2>Dynamics CRM 365</h2>
                <p>Microsoft Dynamics CRM is a customer relationship management software package developed by Microsoft focused on enhancing the customer relationship for any organization. Out of the box, the product focuses mainly on Sales, Marketing, and Customer Service sectors, though Microsoft has been marketing Dynamics CRM as an XRM platform and has been encouraging partners to use its proprietary (.NET based) framework to customize it. In recent years, it has also grown as an Analytics platform driven by CRM.</p>
            </div>
            <div class="col-lg-6 text-center">
                <img src="~/assets/img/dynamics365/crm2.png" alt="Alternate Text" width="90%" height="90%">
            </div>
        </div>
</section>

<section id="dummyspace" class="services section-bg p-4">
    <div class="container">
    </div>
</section>

<div class="m-0 text-center pt-3 pb-3">
    <h2><b>Unlock the Power of Dynamics 365 CRM with Our Expert Services</b></h2>
</div>

<section id="services" class="services section-bg">
    <div class="col-lg-12 text-center p-3">
        <img src="~/assets/img/dynamics365/implement.png" alt="Alternate Text" width="60%" height="60%">
    </div>

    <div class="row m-5">
        <div class="col-xl-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-cloud-lightning" aria-hidden="true"></i></div>
                <h4><a href="">DYNAMICS 365 CLOUD IMPLEMENTATION</a></h4>
                <p>Our experts will work with you to implement Dynamics 365 in the cloud and help you leverage its benefits, such as scalability, security, cost savings, and performance of Microsoft Azure.</p>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-import"></i></div>
                <h4><a href="">DYNAMICS 365 ON-PREMISES IMPLEMENTATION</a></h4>
                <p>If you prefer to keep your Dynamics 365 environment on-premises, we can help you implement Dynamics 365 on-premises. Our experts will ensure that your system is properly configured and secure.</p>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-support"></i></div>
                <h4><a href="">ONGOING SUPPORT FOR DYNAMICS 365</a></h4>
                <p>We offer a variety of ongoing support services to help you get the most out of your Dynamics 365 investment. Our experts can provide technical support, training, and maintenance services to help you troubleshoot problems and optimize your system.</p>
            </div>
        </div>
    </div>



    <div class="row m-5">
        <div class="col-xl-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-aperture" aria-hidden="true"></i></div>
                <h4><a href="">DYNAMICS 365 MODULE IMPLEMENTATION</a></h4>
                <p>Our experts will work with you to implement Dynamics 365 in the cloud and help you leverage its benefits, such as scalability, security, cost savings, and performance of Microsoft Azure.</p>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-wrench"></i></div>
                <h4><a href="">DYNAMICS 365 INTEGRATION</a></h4>
                <p>Dynamics 365 is an Enterprise Resource Planning (ERP) and Customer Relationship Management (CRM) solution provider that includes many intelligent business applications such as Sales, Customer Service, Marketing, Project Service, Field Service, Social Engagement, HR, and more.</p>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-server"></i></div>
                <h4><a href="">DYNAMICS 365 DATA-MIGRATION</a></h4>
                <p>Migration data is the data that you move from your legacy system to your Dynamics 365 application. Your legacy system can be another business application or a collection of Excel spreadsheets. You need to migrate the data that's relevant and useful for your Dynamics 365 solution.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container text-center">
            <div class="section-header me-5">
                <h2>Numbers That Speak Success</h2>
            </div>
            <div class="row d-flex align-items-stretch">
                <div class="col-3">
                    <div class="analytics">
                        <div class="analytics-head">80+</div>
                        <div class="analytics-para">Bespoke CRM Applciation Deployed</div>
                    </div>
                </div>
                <div class="col-3 border-lr">
                    <div class="analytics">
                        <div class="analytics-head">120+</div>
                        <div class="analytics-para">Enterprise Application Deployed</div>
                    </div>
                </div>
                <div class="col-3 border-lr">
                    <div class="analytics">
                        <div class="analytics-head">90+</div>
                        <div class="analytics-para">Client Served globally</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="analytics">
                        <div class="analytics-head">20+</div>
                        <div class="analytics-para">Industries Services</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
