@{
    ViewData["Title"] = "CRMDeveloper";
}

<!-- Banner -->
<section id="hero" class="d-flex align-items-center" style="background-image:url('assets/img/hiredevelopers/her2.webp');background-repeat: no-repeat; background-size: cover; background-position: center;" width="100%" height="100%">
    <div class="container" data-aos="fade-up">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div>
                    <h1 class="text-white"><b>Hire Microsoft Dynamics 365 CRM Developer</b></h1>
                </div>
            </div>
            <div class="col-lg-7 text-center">
                <img src="~/assets/img/hiredevelopers/banner3.webp" width="60%" height="60%" />
            </div>
        </div>
    </div>
</section>
<!-- End Banner -->
<!--Hire Developer Content-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8" align="justify">
                <h3><b>Join Our Team as a Microsoft Dynamics 365 CRM Developer</b></h3>
                <p>
                    At iFox, we are dedicated to helping businesses achieve operational excellence through cutting-edge technology solutions. As a leading software company, we are expanding our team to include skilled Microsoft Dynamics 365 CRM Developers who are passionate about delivering innovative, high-quality CRM solutions. If you're a talented and driven developer looking to make an impact with your technical expertise, we want to hear from you.
                </p>
                <ul class="list-unstyled">
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Enhanced operational efficiency</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Improved decision-making through real-time data</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Customizable solutions that align with your business goals</p>
                    </li>
                </ul><br />
                <h3><b>Why Work with Us?</b></h3>
                <p>As a Microsoft Dynamics 365 CRM Developer in our company, you will play a crucial role in helping our clients optimize their customer relationship management processes, drive sales, and improve operational efficiencies. Our collaborative work environment, combined with a focus on continuous learning and development, provides an excellent platform for professional growth. Here’s why joining our team is the right choice:</p>
                <ul class="list-unstyled">
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Innovative Projects: Work on a variety of exciting and complex projects for clients across different industries.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Career Growth: We offer a clear path for career development and encourage continuous learning through training, certifications, and exposure to new technologies.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Dynamic Work Environment: Be part of a supportive, forward-thinking team where your contributions are valued.</p>
                    </li>
                </ul>
                <h3><b>Key Responsibilities</b></h3>
                <p>you will be responsible for designing, developing, and deploying CRM solutions tailored to meet the specific needs of our clients. Your primary focus will be to enhance the functionality of Dynamics 365, ensuring that it integrates seamlessly with clients' existing systems while delivering a superior user experience. Some of your key responsibilities will include:</p>
                <ul class="list-unstyled">
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Customizing and configuring Microsoft Dynamics 365 CRM to meet business requirements and optimize functionality.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Developing custom plugins and workflows to automate and improve business processes.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Integrating Dynamics 365 with third-party applications and other Microsoft products such as Power BI, SharePoint, and Office 365.</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 Imgborder mt-3">
                <div><img src="~/assets/img/hiredevelopers/Developer.webp" class="img-fluid text-center m-3" /></div>
                <div><img src="~/assets/img/hiredevelopers/Developer2.webp" class="img-fluid text-center m-3" /></div>
            </div>
        </div>
    </div>
</section>
<!--End Hire Developer Content-->
<!--call to action-->
<section id="call-to-action" class="call-to-action section dark-background">
    <img src="~/assets/img/office2.webp" alt="">
    <div class="container">
        <div class="row aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-9 text-center text-xl-start">
                <H3>Looking for Microsoft Office 365 experts?</H3>
                <p>Set up a consultation right now.</p>
            </div>
            <div class="col-xl-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="/contact">
                    Get
                    Started
                </a>
            </div>
        </div>
    </div>
</section>
<!--End call to action-->


<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div><img src="~/assets/img/hiredevelopers/Developer3.webp" class="img-fluid text-start ms-0 mb-5 me-3 p-3" /></div>
                <div><img src="~/assets/img/hiredevelopers/Developer5.webp" class="img-fluid text-start ms-0 mb-5 mt-3 me-3 p-3" /></div>
            </div>
            <div class="col-lg-8 Imgborder" align="justify">
                <h3><b>Required Skills and Qualifications:</b></h3>
                <ul class="list-unstyled">
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Proficiency in Microsoft Dynamics 365 CRM development, including customization, configuration, and deployment.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Strong knowledge of C#, JavaScript, and .NET frameworks to extend Dynamics 365 functionality.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Experience with Copilot, Power Automate, Power Apps, and Power BI for building low-code solutions and reporting.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Strong understanding of web services (REST, SOAP) and integrating Dynamics 365 CRM with third-party systems.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Experience in designing and implementing workflows, plugins, custom entities, and business rules.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Ability to create and maintain complex reports and dashboards using Power BI or Dynamics 365 reporting tools.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Familiarity with the Common Data Service (CDS) and Dataverse.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Solid understanding of CRM security roles, data privacy regulations, and best practices in data governance.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Strong problem-solving skills and ability to work independently as well as in a team.</p>
                    </li>
                </ul><br />
                <h3><b>Why Join Us:</b></h3>
                <ul class="list-unstyled">
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Competitive Salary and Benefits: We offer a competitive salary and benefits package, recognizing the skills and contributions of our team members.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Professional Growth Opportunities: We are committed to your professional development and offer opportunities for skill enhancement and career advancement.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Dynamic Work Environment: Join a collaborative, innovative, and fast-paced environment where your input and ideas are valued.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Work-Life Balance: We understand the importance of maintaining a healthy work-life balance and offer flexible working arrangements to accommodate personal needs.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Exposure to Cutting-Edge Technologies: Work with the latest Microsoft Dynamics 365 features and other cutting-edge technologies in the CRM space.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Impactful Work: Your work will have a direct impact on client success and the efficiency of business processes across various industries.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<!-- Technologies we work with Section -->
<section class="icon-tabs tools-tab-sec technologies-sec desk-view">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 p-3 text-center">
                <h2><b>Technologies we work with</b></h2>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-12 nav nav-tab" id="hiconpillstabhome" role="tablist" aria-orientation="horizontal">
                    <div class="nav-pill-wrapper">
                        <a class="nav-tab text-center navactive2 active show ps-4 pe-4 me-2" href="#" id="firsticontabhome" data-bs-toggle="pill" data-bs-target="#icontabonehome" role="tab" aria-controls="icontabonehome" aria-selected="true">
                            <b>Front-End</b>
                        </a>
                        <a class="nav-tab text-center navactive2 ps-4 pe-4 me-2" href="#" id="secondicontabhome" data-bs-toggle="pill" data-bs-target="#icontabtwohome" role="tab" aria-controls="icontabtwohome" aria-selected="false">
                            <b>BackEnd</b>
                        </a>
                        <a class="nav-tab text-center navactive2 ps-4 pe-4 me-2" href="#" id="thirdicontabhome" data-bs-toggle="pill" data-bs-target="#icontabthreehome" role="tab" aria-controls="icontabthreehome" aria-selected="false">
                            <b>Tools</b>
                        </a>
                        <a class="nav-tab text-center navactive2 ps-4 pe-4 me-2" href="#" id="fourthicontabhome" data-bs-toggle="pill" data-bs-target="#icontabfourhome" role="tab" aria-controls="icontabfourhome" aria-selected="false">
                            <b>Platforms</b>
                        </a>
                        <a class="nav-tab text-center navactive2 ps-4 pe-4 me-2" href="#" id="fifthicontabhome" data-bs-toggle="pill" data-bs-target="#icontabfivehome" role="tab" aria-controls="icontabfivehome" aria-selected="false">
                            <b>DevOps / Clouds</b>
                        </a>
                        <a class="nav-tab text-center navactive2 ps-4 pe-4 me-2" href="#" id="sixthicontabhome" data-bs-toggle="pill" data-bs-target="#icontabsixhome" role="tab" aria-controls="icontabsixhome" aria-selected="false">
                            <b>Database</b>
                        </a>
                        <a class="nav-tab text-center navactive2 ps-4 pe-4 me-2" href="#" id="seventhicontabhome" data-bs-toggle="pill" data-bs-target="#icontabsevenhome" role="tab" aria-controls="icontabsevenhome" aria-selected="false">
                            <b>PowerPlatforms</b>
                        </a>
                    </div>
                </div>

                <div class="tab-content p-5" id="hiconpillstabContenthome">
                    <div class="tab-pane fade active show" id="icontabonehome" role="tabpanel" aria-labelledby="firsticontabhome">
                        <!-- Content for Front-End Tab -->
                        <div class="service-text-new">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec align-self-center">
                                        <img src="~/assets/img/angular.webp" alt="Angular" width="70px" height="70px">
                                        <div class="skill-name">Angular</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/react.webp" alt="React" width="70px" height="70px">
                                        <div class="skill-name">React</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/js.webp" alt="Javascript" width="70px" height="70px">
                                        <div class="skill-name">Javascript</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/html.webp" alt="HTML5" width="70px" height="70px">
                                        <div class="skill-name">HTML5</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/css.webp" alt="CSS3" width="70px" height="70px">
                                        <div class="skill-name">CSS3</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/boostrap.webp" alt="CSS3" width="70px" height="70px">
                                        <div class="skill-name">Boostrap</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content for Back-End Tab -->
                    <div class="tab-pane fade" id="icontabtwohome" role="tabpanel" aria-labelledby="secondicontabhome">
                        <div class="service-text-new">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/java.webp" alt="Java" width="70px" height="70px">
                                        <div class="skill-name">Java</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/csharp.webp" alt="C#" width="70px" height="70px">
                                        <div class="skill-name">C#</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/dotnetcore.webp" alt=".NET Core" width="70px" height="70px">
                                        <div class="skill-name">.NET Core</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/dotnet.webp" alt=".NET" width="70px" height="70px">
                                        <div class="skill-name">.NET</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/php.webp" alt="PHP" width="70px" height="70px">
                                        <div class="skill-name">PHP</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/python.webp" alt="Python" width="70px" height="70px">
                                        <div class="skill-name">Python</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content for Tools Tab -->
                    <div class="tab-pane fade" id="icontabthreehome" role="tabpanel" aria-labelledby="thirdicontabhome">
                        <div class="service-text-new">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/figma.webp" alt="Figma" width="70px" height="70px">
                                        <div class="skill-name">Figma</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/photoshop.webp" alt="Photoshop" width="70px" height="70px">
                                        <div class="skill-name">Photoshop</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/Corel draw.webp" alt="Corel draw" width="70px" height="70px">
                                        <div class="skill-name">Corel Draw</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/vs.webp" alt="Visual Studio" width="70px" height="70px">
                                        <div class="skill-name">Visual Studio</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/vscode.webp" alt="Visual Studio Code" width="70px" height="70px">
                                        <div class="skill-name">Visual Studio Code</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content for Platforms Tab -->
                    <div class="tab-pane fade" id="icontabfourhome" role="tabpanel" aria-labelledby="fourthicontabhome">
                        <div class="service-text-new">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/sharep.webp" alt="SharePoint" width="70px" height="70px">
                                        <div class="skill-name">SharePoint</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/office365.webp" alt="Office 365" width="70px" height="70px">
                                        <div class="skill-name">Office 365</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/dynamics.webp" alt="Microsoft Dynamics" width="70px" height="70px">
                                        <div class="skill-name">Microsoft Dynamics</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content for DevOps/Clouds Tab -->
                    <div class="tab-pane fade" id="icontabfivehome" role="tabpanel" aria-labelledby="fifthicontabhome">
                        <div class="service-text-new">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/AWS.webp" alt="AWS" width="70px" height="70px">
                                        <div class="skill-name">AWS</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/azure.webp" alt="Azure" width="70px" height="70px">
                                        <div class="skill-name">Azure</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/git.webp" alt="Git" width="70px" height="70px">
                                        <div class="skill-name">Git</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content for Database Tab -->
                    <div class="tab-pane fade" id="icontabsixhome" role="tabpanel" aria-labelledby="sixthicontabhome">
                        <div class="service-text-new">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/mongo.webp" alt="Mongo" width="70px" height="70px">
                                        <div class="skill-name">Mongo</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/mysql.webp" alt="MySQL" width="70px" height="70px">
                                        <div class="skill-name">MySQL</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/sql.webp" alt="SQL Server" width="70px" height="70px">
                                        <div class="skill-name">SQL Server</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/DynamoDB.webp" alt="DynamoDB" width="70px" height="70px">
                                        <div class="skill-name">DynamoDB</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content for PowerPlatform Tab -->
                    <div class="tab-pane fade" id="icontabsevenhome" role="tabpanel" aria-labelledby="seventhicontabhome">
                        <div class="service-text-new">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/PowerPlatform/PowerAutomate.webp" alt="Power Automate" width="70px" height="70px">
                                        <div class="skill-name">Power Automate</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/PowerPlatform/PowerApps.webp" alt="Power Apps" width="70px" height="70px">
                                        <div class="skill-name">Power Apps</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/PowerPlatform/PowerBI.webp" alt="Power BI" width="70px" height="70px">
                                        <div class="skill-name">Power BI</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/powerplatform/CopilotStudio2.webp" alt="Copilots" width="70px" height="70px">
                                        <div class="skill-name">Copilots</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/PowerPlatform/PowerPages.webp" alt="Power Pages" width="70px" height="70px">
                                        <div class="skill-name">Power Pages</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Technologies we work with -->