@{
    ViewData["Title"] = "HireDotNetDeveloper";
}

<section id="dummyspace">
    <div class="container">
    </div>
</section>
<section class="ptb-40 top-banner active">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-text-sec">
                    <div class="banner-text">
                        <h1>Hire .Net Developers</h1>
                        <div class="mb-5">
                            <p>
                                Build platform compatible web applications which works on Linux, MacOS and windows with .Net Core development company in Bangalore, India.
                            </p>
                            <p>
                                .Net core developers in Nextwebi are proficient in providing versatile, dynamic and stable web applications, integrations, migrations and cross-platform applications development services for clients across the globe.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 p-0">
                <div class="banner-img-sec">
                    <img src="~/assets/img/banner/technologies/dot-net-core.webp" alt="Alternate Text" class="img-fluid mmt-5">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-xl-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-cloud-lightning" aria-hidden="true"></i></div>
                    <h4><a href="">.Net core web development</a></h4>
                    <p>ASP.NET Core comes with everything you need to build web apps including Blazor, a web UI framework for quickly creating fast, secure, and robust web apps that run anywhere.</p>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-import"></i></div>
                    <h4><a href="">Web API development</a></h4>
                    <p>IWEB API is a better choice for simpler, light weight services. WEB API can use any text format including XML and is faster than WCF. WEB API can be used to create full-blown REST Services. </p>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-support"></i></div>
                    <h4><a href="">ASP.Net core migration</a></h4>
                    <p>It provides a way to incrementally update the database schema to keep it in sync with the application's data model while preserving existing data in the database.</p>
                </div>
            </div>
        </div>
    </div>
</section>