@{
    ViewData["Title"] = "Hire Developers";
}

<section id="services" class="services section-bg mt-5">
    <div class="container" data-aos="fade-up">
        <div class="row pb-5 align-items-center">
            <div class="col-lg-6 section-title">
                <h2>Hire Developers</h2>
                <p>
                    We are hiring talented and passionate developers to join our growing team. If you have strong experience in [<b>C#, .Net, .Net Core, JavaScript, Python, React, Node.js</b>], and thrive in a collaborative, fast-paced environment, we want to hear from you! As a developer at <b>iFox Consulting Service</b>, you will have the opportunity to work on innovative projects, solve complex technical challenges, and contribute to building cutting-edge solutions. We offer a dynamic workplace with opportunities for career growth, competitive compensation, and a culture that encourages creativity and continuous learning. If you're ready to make an impact and take your career to the next level, apply today!
                </p>
            </div>
            <div class="col-lg-6 data-aos="zoom-in" data-aos-delay="200">
                <img src="~/assets/img/hiredevelopers/hired.webp" alt="Alternate Text" class="img-fluid" />
            </div>
        </div>
        <div class="row pb-4 align-items-center">
            <div class="col-lg-6">
                <img src="~/assets/img/hiredevelopers/training.png" alt="Alternate Text" class="img-fluid" />
            </div>
            <div class="col-lg-6 text-center">
                <p>
                    Also, we are committed to fostering the next generation of software development talent. That's why we offer comprehensive training programs and internship opportunities for aspiring developers who are eager to learn and grow in the tech industry. Whether you're a recent graduate or looking to gain hands-on experience, our training and internship programs provide the perfect environment to build your skills, work on real-world projects, and receive mentorship from experienced professionals. You'll gain valuable exposure to the latest technologies, tools, and industry best practices, all while being part of a supportive and dynamic team. If you're passionate about coding and ready to jumpstart your career, we invite you to apply and take the first step towards your future in software development.
                </p>
            </div>
        </div>
</section>
<section id="services" class="services section-bg">
    <div class="row">
        <div class="col-xl-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-cloud-lightning" aria-hidden="true"></i></div>
                <h4><a href="">DYNAMICS 365 CLOUD IMPLEMENTATION</a></h4>
                <p>Our experts will work with you to implement Dynamics 365 in the cloud and help you leverage its benefits, such as scalability, security, cost savings, and performance of Microsoft Azure.</p>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-import"></i></div>
                <h4><a href="">DYNAMICS 365 ON-PREMISES IMPLEMENTATION</a></h4>
                <p>If you prefer to keep your Dynamics 365 environment on-premises, we can help you implement Dynamics 365 on-premises. Our experts will ensure that your system is properly configured and secure.</p>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-support"></i></div>
                <h4><a href="">ONGOING SUPPORT FOR DYNAMICS 365</a></h4>
                <p>We offer a variety of ongoing support services to help you get the most out of your Dynamics 365 investment. Our experts can provide technical support, training, and maintenance services to help you troubleshoot problems and optimize your system.</p>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="icon-tabs tools-tab-sec technologies-sec desk-view ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 p-3 text-center">
                <h2 class="mb-40">Technologies we <span class="font-bold">work with</span></h2>
            </div>
            <div class="col-lg-12">


                <div class="col-lg-12 nav nav-tab" id="hiconpillstabhome" role="tablist" aria-orientation="horizontal">
                    <a class="col-lg-2 nav-tab border-end text-center" href="" id="firsticontabhome" data-bs-toggle="pill" data-bs-target="#icontabonehome" role="tab" aria-controls="icontabonehome" aria-selected="false">
                        <h4>Front-End</h4>

                    </a>
                    <a class="col-lg-2 nav-tab border-end text-center active" href="" id="secondicontabhome" data-bs-toggle="pill" data-bs-target="#icontabtwohome" role="tab" aria-controls="icontabtwohome" aria-selected="true">
                        <h4>BackEnd</h4>

                    </a>
                    <a class="col-lg-2 nav-tab border-end text-center" href="" id="thirdicontabhome" data-bs-toggle="pill" data-bs-target="#icontabthreehome" role="tab" aria-controls="icontabthreehome" aria-selected="false">
                        <h4>Tools</h4>

                    </a>
                    <a class="col-lg-2 nav-tab border-end text-center" href="" id="fourthicontabhome" data-bs-toggle="pill" data-bs-target="#icontabfourhome" role="tab" aria-controls="icontabfourhome" aria-selected="false">
                        <h4>Platforms</h4>

                    </a>
                    <a class="col-lg-2 nav-tab border-end text-center" href="" id="fiveicontabhome" data-bs-toggle="pill" data-bs-target="#icontabfivehome" role="tab" aria-controls="icontabfivehome" aria-selected="false">

                        <h4>DevOps / Clouds</h4>

                    </a>
                    <a class="col-lg-2 nav-tab border-end text-center" href="" id="sixicontabhome" data-bs-toggle="pill" data-bs-target="#icontabsixhome" role="tab" aria-controls="icontabsixhome" aria-selected="false">
                        <h4>
                            Database
                        </h4>

                    </a>
                </div>


                <div class="tab-content p-5" id="hiconpillstabContenthome">
                    <div class="tab-pane fade" id="icontabonehome" role="tabpanel" aria-labelledby="firsticontabhome">
                        <div class="service-text-new">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec align-self-center">
                                        <img src="~/assets/img/angular.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            Angular
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/react.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            React
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/js.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            Javascript
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/html.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            HTML5
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/css.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            CSS3
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/boostrap.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            Bootstrap
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade active show" id="icontabtwohome" role="tabpanel" aria-labelledby="secondicontabhome">

                        <div class="service-text-new">
                            <div class="row justify-content-center">

                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/csharp.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            C#
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/dotnetcore.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            .NET Core
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/dotnet.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            .NET
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/php.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            PHP
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/java.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            Java
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/python.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            Python
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="icontabthreehome" role="tabpanel" aria-labelledby="iconthirdtabhome">



                        <div class="service-text-new">
                            <div class="row justify-content-center">

                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/figma.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            Figma
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/photoshop.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            Photoshop
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/Corel draw.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            Corel draw
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/vs.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            Visual studio
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/vscode.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            Visual studio code
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="icontabfourhome" role="tabpanel" aria-labelledby="iconfourthtabhome">




                        <div class="service-text-new">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/sharep.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            SharePoint
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/office365.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            Office 365
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/dynamics.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            Microsoft dynamics
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="icontabfivehome" role="tabpanel" aria-labelledby="iconfivetabhome">

                        <div class="service-text-new">
                            <div class="row justify-content-center">

                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/AWS.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            AWS
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/azure.svg" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            Azure
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/git.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            Git
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="icontabsixhome" role="tabpanel" aria-labelledby="iconsixtabhome">

                        <div class="service-text-new">
                            <div class="row justify-content-center">

                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/mongo.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            Mongo
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/mysql.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            MySQL
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/sql.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            SQL Server
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/DynamoDB.png" alt="Alternate Text" width="70px" height="70px">
                                        <div class="skill-name">
                                            DynamoDB
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>