@{
    ViewData["Title"] = "PHPDeveloper";
}

<!-- Banner -->
<section id="hero" class="d-flex align-items-center" style="background-image:url('assets/img/hiredevelopers/her2.webp');background-repeat: no-repeat; background-size: cover; background-position: center;" width="100%" height="100%">
    <div class="container" data-aos="fade-up">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div>
                    <h1 class="text-white"><b>Hire PHP Developer</b></h1>
                </div>
            </div>
            <div class="col-lg-7 text-center">
                <img src="~/assets/img/hiredevelopers/banner3.webp" width="60%" height="60%" />
            </div>
        </div>
    </div>
</section>
<!-- End Banner -->
<!--Hire Developer Content-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8" align="justify">
                <h3><b>Hiring PHP Developers for Our Growing Team</b></h3>

                <p>
                    Hire experienced PHP developers to build fast, secure and scalable
                    web applications tailored to your business needs.
                </p>

                <p>
                    We specialize in modern PHP frameworks and enterprise-grade web solutions.
                </p>

                <h3><b>Position Overview</b></h3>

                <ul class="list-unstyled">

                    <li>
                        <i class="bi bi-check2-circle color"></i>
                        Develop dynamic web applications using PHP frameworks.
                    </li>

                    <li>
                        <i class="bi bi-check2-circle color"></i>
                        Build REST APIs and integrate third-party services.
                    </li>

                    <li>
                        <i class="bi bi-check2-circle color"></i>
                        Design and manage databases and backend logic.
                    </li>

                    <li>
                        <i class="bi bi-check2-circle color"></i>
                        Optimize application performance and security.
                    </li>

                    <li>
                        <i class="bi bi-check2-circle color"></i>
                        Maintain and upgrade existing web applications.
                    </li>

                </ul>

                <h3><b>Required Skills & Qualifications</b></h3>

                <ul class="list-unstyled">

                    <li>
                        <i class="bi bi-check2-circle color"></i>
                        Strong experience in PHP & MySQL.
                    </li>

                    <li>
                        <i class="bi bi-check2-circle color"></i>
                        Experience in Laravel / CodeIgniter / Symfony.
                    </li>

                    <li>
                        <i class="bi bi-check2-circle color"></i>
                        Knowledge of REST API development.
                    </li>

                    <li>
                        <i class="bi bi-check2-circle color"></i>
                        Experience with HTML, CSS, JavaScript.
                    </li>

                    <li>
                        <i class="bi bi-check2-circle color"></i>
                        Understanding of web security best practices.
                    </li>

                </ul>

            </div>
            <div class="col-lg-4 Imgborder mt-3">
                <div><img src="~/assets/img/hiredevelopers/Developer.webp" class="img-fluid text-center m-3" /></div>
                <div><img src="~/assets/img/hiredevelopers/Developer2.webp" class="img-fluid text-center m-3" /></div>
            </div>
        </div>
    </div>
</section>
<!--End Hire Developer Content-->
<!--call to action-->
<section id="call-to-action" class="call-to-action section dark-background">
    <img src="~/assets/img/office2.webp" alt="">
    <div class="container">
        <div class="row aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-9 text-center text-xl-start">
                <H3>Looking for Microsoft Office 365 experts?</H3>
                <p>Set up a consultation right now.</p>
            </div>
            <div class="col-xl-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="/contact">
                    Get
                    Started
                </a>
            </div>
        </div>
    </div>
</section>
<!--END call to action-->


<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div><img src="~/assets/img/hiredevelopers/Developer3.webp" class="img-fluid text-start ms-0 mb-5 me-3 p-3" /></div>
                <div><img src="~/assets/img/hiredevelopers/Developer5.webp" class="img-fluid text-start ms-0 mb-5 mt-3 me-3 p-3" /></div>
            </div>
            <div class="col-lg-8 Imgborder" align="justify">
                <h3><b>Preferred Skills:</b></h3>
                <p>
                    In an age where data breaches and security risks are a growing concern, our team places a strong emphasis on building secure, resilient software solutions. We employ the latest encryption technologies and industry best practices to safeguard your business and customer data. Additionally, our rigorous quality assurance processes ensure that every piece of software we deliver meets the highest standards of reliability and performance. Key security practices we implement include:
                </p>
                <ul class="list-unstyled">
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Experience with cloud platforms like Azure or AWS.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Familiarity with CI/CD pipelines and automated testing tools.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Knowledge of front-end build tools like Webpack and Gulp.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Exposure to containerization technologies such as Docker.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Familiarity with microservices architecture.</p>
                    </li>
                </ul><br />
                <h3><b>Why Join Us:</b></h3>
                <p>At our company, we believe in empowering our team members and providing a work environment that encourages personal growth and innovation. By joining us, you’ll have the opportunity to:</p>
                <ul class="list-unstyled">
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Competitive Salary and Benefits: We offer a highly competitive salary and benefits package, ensuring that your contributions are valued and rewarded.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Career Growth Opportunities: We are committed to supporting your career development through training, mentorship, and opportunities to work on diverse, impactful projects.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Collaborative Environment: You’ll be part of a dynamic and collaborative team, where your ideas and expertise will help shape the future of our products and solutions.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Work-Life Balance: We prioritize the well-being of our team, offering flexible work arrangements to ensure you maintain a healthy work-life balance.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Cutting-Edge Technologies: Work with the latest technologies and frameworks to build high-performance, scalable applications.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Impactful Work: Contribute directly to the success of the company and our clients, knowing that your work will make a meaningful difference.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<!-- Technologies we work with Section -->
<section class="icon-tabs tools-tab-sec technologies-sec desk-view">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 p-3 text-center">
                <h2><b>Technologies we work with</b></h2>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-12 nav nav-tab" id="hiconpillstabhome" role="tablist" aria-orientation="horizontal">
                    <div class="nav-pill-wrapper">
                        <a class="nav-tab text-center navactive2 active show ps-4 pe-4 me-2" href="#" id="firsticontabhome" data-bs-toggle="pill" data-bs-target="#icontabonehome" role="tab" aria-controls="icontabonehome" aria-selected="true">
                            <b>Front-End</b>
                        </a>
                        <a class="nav-tab text-center navactive2 ps-4 pe-4 me-2" href="#" id="secondicontabhome" data-bs-toggle="pill" data-bs-target="#icontabtwohome" role="tab" aria-controls="icontabtwohome" aria-selected="false">
                            <b>BackEnd</b>
                        </a>
                        <a class="nav-tab text-center navactive2 ps-4 pe-4 me-2" href="#" id="thirdicontabhome" data-bs-toggle="pill" data-bs-target="#icontabthreehome" role="tab" aria-controls="icontabthreehome" aria-selected="false">
                            <b>Tools</b>
                        </a>
                        <a class="nav-tab text-center navactive2 ps-4 pe-4 me-2" href="#" id="fourthicontabhome" data-bs-toggle="pill" data-bs-target="#icontabfourhome" role="tab" aria-controls="icontabfourhome" aria-selected="false">
                            <b>Platforms</b>
                        </a>
                        <a class="nav-tab text-center navactive2 ps-4 pe-4 me-2" href="#" id="fifthicontabhome" data-bs-toggle="pill" data-bs-target="#icontabfivehome" role="tab" aria-controls="icontabfivehome" aria-selected="false">
                            <b>DevOps / Clouds</b>
                        </a>
                        <a class="nav-tab text-center navactive2 ps-4 pe-4 me-2" href="#" id="sixthicontabhome" data-bs-toggle="pill" data-bs-target="#icontabsixhome" role="tab" aria-controls="icontabsixhome" aria-selected="false">
                            <b>Database</b>
                        </a>
                        <a class="nav-tab text-center navactive2 ps-4 pe-4 me-2" href="#" id="seventhicontabhome" data-bs-toggle="pill" data-bs-target="#icontabsevenhome" role="tab" aria-controls="icontabsevenhome" aria-selected="false">
                            <b>PowerPlatforms</b>
                        </a>
                    </div>
                </div>

                <div class="tab-content p-5" id="hiconpillstabContenthome">
                    <div class="tab-pane fade active show" id="icontabonehome" role="tabpanel" aria-labelledby="firsticontabhome">
                        <!-- Content for Front-End Tab -->
                        <div class="service-text-new">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec align-self-center">
                                        <img src="~/assets/img/angular.webp" alt="Angular" width="70px" height="70px">
                                        <div class="skill-name">Angular</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/react.webp" alt="React" width="70px" height="70px">
                                        <div class="skill-name">React</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/js.webp" alt="Javascript" width="70px" height="70px">
                                        <div class="skill-name">Javascript</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/html.webp" alt="HTML5" width="70px" height="70px">
                                        <div class="skill-name">HTML5</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/css.webp" alt="CSS3" width="70px" height="70px">
                                        <div class="skill-name">CSS3</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/boostrap.webp" alt="Bootstrap" width="70px" height="70px">
                                        <div class="skill-name">Bootstrap</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content for Back-End Tab -->
                    <div class="tab-pane fade" id="icontabtwohome" role="tabpanel" aria-labelledby="secondicontabhome">
                        <div class="service-text-new">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/java.webp" alt="Java" width="70px" height="70px">
                                        <div class="skill-name">Java</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/csharp.webp" alt="C#" width="70px" height="70px">
                                        <div class="skill-name">C#</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/dotnetcore.webp" alt=".NET Core" width="70px" height="70px">
                                        <div class="skill-name">.NET Core</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/dotnet.webp" alt=".NET" width="70px" height="70px">
                                        <div class="skill-name">.NET</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/php.webp" alt="PHP" width="70px" height="70px">
                                        <div class="skill-name">PHP</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/python.webp" alt="Python" width="70px" height="70px">
                                        <div class="skill-name">Python</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content for Tools Tab -->
                    <div class="tab-pane fade" id="icontabthreehome" role="tabpanel" aria-labelledby="thirdicontabhome">
                        <div class="service-text-new">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/figma.webp" alt="Figma" width="70px" height="70px">
                                        <div class="skill-name">Figma</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/photoshop.webp" alt="Photoshop" width="70px" height="70px">
                                        <div class="skill-name">Photoshop</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/Corel draw.webp" alt="Corel draw" width="70px" height="70px">
                                        <div class="skill-name">Corel Draw</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/vs.webp" alt="Visual Studio" width="70px" height="70px">
                                        <div class="skill-name">Visual Studio</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/vscode.webp" alt="Visual Studio Code" width="70px" height="70px">
                                        <div class="skill-name">Visual Studio Code</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content for Platforms Tab -->
                    <div class="tab-pane fade" id="icontabfourhome" role="tabpanel" aria-labelledby="fourthicontabhome">
                        <div class="service-text-new">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/sharep.webp" alt="SharePoint" width="70px" height="70px">
                                        <div class="skill-name">SharePoint</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/office365.webp" alt="Office 365" width="70px" height="70px">
                                        <div class="skill-name">Office 365</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/dynamics.webp" alt="Microsoft Dynamics" width="70px" height="70px">
                                        <div class="skill-name">Microsoft Dynamics</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content for DevOps/Clouds Tab -->
                    <div class="tab-pane fade" id="icontabfivehome" role="tabpanel" aria-labelledby="fifthicontabhome">
                        <div class="service-text-new">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/AWS.webp" alt="AWS" width="70px" height="70px">
                                        <div class="skill-name">AWS</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/azure.webp" alt="Azure" width="70px" height="70px">
                                        <div class="skill-name">Azure</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/git.webp" alt="Git" width="70px" height="70px">
                                        <div class="skill-name">Git</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content for Database Tab -->
                    <div class="tab-pane fade" id="icontabsixhome" role="tabpanel" aria-labelledby="sixthicontabhome">
                        <div class="service-text-new">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/mongo.webp" alt="Mongo" width="70px" height="70px">
                                        <div class="skill-name">Mongo</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/mysql.webp" alt="MySQL" width="70px" height="70px">
                                        <div class="skill-name">MySQL</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/sql.webp" alt="SQL Server" width="70px" height="70px">
                                        <div class="skill-name">SQL Server</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/DynamoDB.webp" alt="DynamoDB" width="70px" height="70px">
                                        <div class="skill-name">DynamoDB</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content for PowerPlatform Tab -->
                    <div class="tab-pane fade" id="icontabsevenhome" role="tabpanel" aria-labelledby="seventhicontabhome">
                        <div class="service-text-new">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/PowerPlatform/PowerAutomate.webp" alt="Power Automate" width="70px" height="70px">
                                        <div class="skill-name">Power Automate</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/PowerPlatform/PowerApps.webp" alt="Power Apps" width="70px" height="70px">
                                        <div class="skill-name">Power Apps</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/PowerPlatform/PowerBI.webp" alt="Power BI" width="70px" height="70px">
                                        <div class="skill-name">Power BI</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/powerplatform/CopilotStudio2.webp" alt="Copilots" width="70px" height="70px">
                                        <div class="skill-name">Copilots</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/PowerPlatform/PowerPages.webp" alt="Power Pages" width="70px" height="70px">
                                        <div class="skill-name">Power Pages</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Technologies we work with -->