@{
    ViewData["Title"] = "PHPDeveloper";
}

<!-- Banner -->
<section id="services" class="services section-bg" style="background-image:url('/assets/img/hiredevelopers/her2.jpg')" width="100%" height="100%">
    <div class="container" data-aos="fade-up">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div>
                    <h1 class="text-white"><b>Hire PHP Developer</b></h1>
                </div>
            </div>
            <div class="col-lg-7 text-center">
                <img src="~/assets/img/hiredevelopers/banner3.png" width="60%" height="60%" />
            </div>
        </div>
    </div>
</section>
<!-- End Banner -->
<!--Hire Developer Content-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8" align="justify">
                <h3><b>Hiring .NET Developer for Our Growing Team</b></h3>
                <p>
                    Are you an experienced .NET developer looking for a new opportunity to grow and make a significant impact? We are a dynamic company looking to expand our development team with a talented ASP.NET Developer. This is an excellent opportunity for someone who enjoys working on cutting-edge technologies and developing robust web applications in a collaborative and innovative environment.
                </p>
                <p>
                    About Us: We are a forward-thinking company that focuses on delivering top-notch software solutions to our clients. Our team is passionate about innovation and driven by results. As we continue to scale, we are looking for a skilled ASP.NET developer to join our team and contribute to our mission of providing high-quality software products.
                </p>
                <p>
                    Position Overview: As an .NET Developer, you will be responsible for developing and maintaining web applications using the .NET framework. You will work closely with cross-functional teams, including designers and project managers, to create seamless and user-friendly web experiences. The ideal candidate should be proficient in ASP.NET technologies, have experience with front-end frameworks, and be able to handle full-stack development tasks.
                </p>
                <ul class="list-unstyled">
                    <li>
                        <p><i class="bi bi-check2-circle color"></i> Develop, test, and maintain web applications using .NET Core and .NET MVC.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Collaborate with front-end developers to integrate user-facing elements with server-side logic.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Customizable solutions that align with your business goals</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Optimize applications for speed, scalability, and responsiveness.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Write clean, maintainable, and efficient code while adhering to best practices and industry standards.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Troubleshoot and resolve issues that arise in production and development environments.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Participate in code reviews to ensure quality and consistency.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Stay up-to-date with the latest web technologies and best practices.</p>
                    </li>
                </ul><br />
                <h3><b>Required Skills and Qualifications:</b></h3>
                <ul class="list-unstyled">
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Proficiency in .NET Core, .NET MVC, and C#.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Strong knowledge of front-end technologies such as HTML, CSS, JavaScript, and frameworks like React, Angular, or Vue.js.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Experience with relational databases such as SQL Server and familiarity with ORM tools like Entity Framework.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Solid understanding of web development principles, including RESTful API design and authentication.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Knowledge of version control systems, especially Git.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Experience with Agile development methodologies.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Strong problem-solving skills and the ability to troubleshoot complex issues.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Excellent communication skills and the ability to work collaboratively within a team.</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 Imgborder mt-3">
                <div><img src="~/assets/img/hiredevelopers/Developer.jpg" class="img-fluid text-center m-3" /></div>
                <div><img src="~/assets/img/hiredevelopers/Developer2.jpg" class="img-fluid text-center m-3" /></div>
            </div>
        </div>
    </div>
</section>
<!--End Hire Developer Content-->
<!--call to action-->
<section id="call-to-action" class="call-to-action section dark-background">
    <img src="assets/img/office2.jpg" alt="">
    <div class="container">
        <div class="row aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-9 text-center text-xl-start">
                <H3>Looking for Microsoft Office 365 experts?</H3>
                <p>Set up a consultation right now.</p>
            </div>
            <div class="col-xl-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="/contact">
                    Get
                    Started
                </a>
            </div>
        </div>
    </div>
</section>
<!--END call to action-->


<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div><img src="~/assets/img/hiredevelopers/Developer3.jpg" class="img-fluid text-start ms-0 mb-5 me-3 p-3" /></div>
                <div><img src="~/assets/img/hiredevelopers/Developer5.jpg" class="img-fluid text-start ms-0 mb-5 mt-3 me-3 p-3" /></div>
            </div>
            <div class="col-lg-8 Imgborder" align="justify">
                <h3><b>Preferred Skills:</b></h3>
                <p>
                    In an age where data breaches and security risks are a growing concern, our team places a strong emphasis on building secure, resilient software solutions. We employ the latest encryption technologies and industry best practices to safeguard your business and customer data. Additionally, our rigorous quality assurance processes ensure that every piece of software we deliver meets the highest standards of reliability and performance. Key security practices we implement include:
                </p>
                <ul class="list-unstyled">
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Experience with cloud platforms like Azure or AWS.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Familiarity with CI/CD pipelines and automated testing tools.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Knowledge of front-end build tools like Webpack and Gulp.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Exposure to containerization technologies such as Docker.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Familiarity with microservices architecture.</p>
                    </li>
                </ul><br />
                <h3><b>Why Join Us:</b></h3>
                <p>At our company, we believe in empowering our team members and providing a work environment that encourages personal growth and innovation. By joining us, you’ll have the opportunity to:</p>
                <ul class="list-unstyled">
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Competitive Salary and Benefits: We offer a highly competitive salary and benefits package, ensuring that your contributions are valued and rewarded.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Career Growth Opportunities: We are committed to supporting your career development through training, mentorship, and opportunities to work on diverse, impactful projects.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Collaborative Environment: You’ll be part of a dynamic and collaborative team, where your ideas and expertise will help shape the future of our products and solutions.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Work-Life Balance: We prioritize the well-being of our team, offering flexible work arrangements to ensure you maintain a healthy work-life balance.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Cutting-Edge Technologies: Work with the latest technologies and frameworks to build high-performance, scalable applications.</p>
                    </li>
                    <li>
                        <p><i class="bi bi-check2-circle color"></i>  Impactful Work: Contribute directly to the success of the company and our clients, knowing that your work will make a meaningful difference.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<!-- Technologies we work with Section -->
<section class="icon-tabs tools-tab-sec technologies-sec desk-view">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 p-3 text-center">
                <h2><b>Technologies we work with</b></h2>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-12 nav nav-tab" id="hiconpillstabhome" role="tablist" aria-orientation="horizontal">
                    <div class="nav-pill-wrapper">
                        <a class="nav-tab text-center navactive2 active show ps-4 pe-4 me-2" href="#" id="firsticontabhome" data-bs-toggle="pill" data-bs-target="#icontabonehome" role="tab" aria-controls="icontabonehome" aria-selected="true">
                            <b>Front-End</b>
                        </a>
                        <a class="nav-tab text-center navactive2 ps-4 pe-4 me-2" href="#" id="secondicontabhome" data-bs-toggle="pill" data-bs-target="#icontabtwohome" role="tab" aria-controls="icontabtwohome" aria-selected="false">
                            <b>BackEnd</b>
                        </a>
                        <a class="nav-tab text-center navactive2 ps-4 pe-4 me-2" href="#" id="thirdicontabhome" data-bs-toggle="pill" data-bs-target="#icontabthreehome" role="tab" aria-controls="icontabthreehome" aria-selected="false">
                            <b>Tools</b>
                        </a>
                        <a class="nav-tab text-center navactive2 ps-4 pe-4 me-2" href="#" id="fourthicontabhome" data-bs-toggle="pill" data-bs-target="#icontabfourhome" role="tab" aria-controls="icontabfourhome" aria-selected="false">
                            <b>Platforms</b>
                        </a>
                        <a class="nav-tab text-center navactive2 ps-4 pe-4 me-2" href="#" id="fifthicontabhome" data-bs-toggle="pill" data-bs-target="#icontabfivehome" role="tab" aria-controls="icontabfivehome" aria-selected="false">
                            <b>DevOps / Clouds</b>
                        </a>
                        <a class="nav-tab text-center navactive2 ps-4 pe-4 me-2" href="#" id="sixthicontabhome" data-bs-toggle="pill" data-bs-target="#icontabsixhome" role="tab" aria-controls="icontabsixhome" aria-selected="false">
                            <b>Database</b>
                        </a>
                        <a class="nav-tab text-center navactive2 ps-4 pe-4 me-2" href="#" id="seventhicontabhome" data-bs-toggle="pill" data-bs-target="#icontabsevenhome" role="tab" aria-controls="icontabsevenhome" aria-selected="false">
                            <b>PowerPlatforms</b>
                        </a>
                    </div>
                </div>

                <div class="tab-content p-5" id="hiconpillstabContenthome">
                    <div class="tab-pane fade active show" id="icontabonehome" role="tabpanel" aria-labelledby="firsticontabhome">
                        <!-- Content for Front-End Tab -->
                        <div class="service-text-new">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec align-self-center">
                                        <img src="~/assets/img/angular.png" alt="Angular" width="70px" height="70px">
                                        <div class="skill-name">Angular</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/react.png" alt="React" width="70px" height="70px">
                                        <div class="skill-name">React</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/js.png" alt="Javascript" width="70px" height="70px">
                                        <div class="skill-name">Javascript</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/html.png" alt="HTML5" width="70px" height="70px">
                                        <div class="skill-name">HTML5</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/css.png" alt="CSS3" width="70px" height="70px">
                                        <div class="skill-name">CSS3</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/boostrap.png" alt="Bootstrap" width="70px" height="70px">
                                        <div class="skill-name">Bootstrap</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content for Back-End Tab -->
                    <div class="tab-pane fade" id="icontabtwohome" role="tabpanel" aria-labelledby="secondicontabhome">
                        <div class="service-text-new">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/java.png" alt="Java" width="70px" height="70px">
                                        <div class="skill-name">Java</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/csharp.png" alt="C#" width="70px" height="70px">
                                        <div class="skill-name">C#</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/dotnetcore.png" alt=".NET Core" width="70px" height="70px">
                                        <div class="skill-name">.NET Core</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/dotnet.png" alt=".NET" width="70px" height="70px">
                                        <div class="skill-name">.NET</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/php.png" alt="PHP" width="70px" height="70px">
                                        <div class="skill-name">PHP</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/python.png" alt="Python" width="70px" height="70px">
                                        <div class="skill-name">Python</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content for Tools Tab -->
                    <div class="tab-pane fade" id="icontabthreehome" role="tabpanel" aria-labelledby="thirdicontabhome">
                        <div class="service-text-new">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/figma.png" alt="Figma" width="70px" height="70px">
                                        <div class="skill-name">Figma</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/photoshop.png" alt="Photoshop" width="70px" height="70px">
                                        <div class="skill-name">Photoshop</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/Corel draw.png" alt="Corel draw" width="70px" height="70px">
                                        <div class="skill-name">Corel Draw</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/vs.png" alt="Visual Studio" width="70px" height="70px">
                                        <div class="skill-name">Visual Studio</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/vscode.png" alt="Visual Studio Code" width="70px" height="70px">
                                        <div class="skill-name">Visual Studio Code</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content for Platforms Tab -->
                    <div class="tab-pane fade" id="icontabfourhome" role="tabpanel" aria-labelledby="fourthicontabhome">
                        <div class="service-text-new">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/sharep.png" alt="SharePoint" width="70px" height="70px">
                                        <div class="skill-name">SharePoint</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/office365.png" alt="Office 365" width="70px" height="70px">
                                        <div class="skill-name">Office 365</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/dynamics.png" alt="Microsoft Dynamics" width="70px" height="70px">
                                        <div class="skill-name">Microsoft Dynamics</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content for DevOps/Clouds Tab -->
                    <div class="tab-pane fade" id="icontabfivehome" role="tabpanel" aria-labelledby="fifthicontabhome">
                        <div class="service-text-new">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/AWS.png" alt="AWS" width="70px" height="70px">
                                        <div class="skill-name">AWS</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/azure.svg" alt="Azure" width="70px" height="70px">
                                        <div class="skill-name">Azure</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/git.png" alt="Git" width="70px" height="70px">
                                        <div class="skill-name">Git</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content for Database Tab -->
                    <div class="tab-pane fade" id="icontabsixhome" role="tabpanel" aria-labelledby="sixthicontabhome">
                        <div class="service-text-new">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/mongo.png" alt="Mongo" width="70px" height="70px">
                                        <div class="skill-name">Mongo</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/mysql.png" alt="MySQL" width="70px" height="70px">
                                        <div class="skill-name">MySQL</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/sql.png" alt="SQL Server" width="70px" height="70px">
                                        <div class="skill-name">SQL Server</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/DynamoDB.png" alt="DynamoDB" width="70px" height="70px">
                                        <div class="skill-name">DynamoDB</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content for PowerPlatform Tab -->
                    <div class="tab-pane fade" id="icontabsevenhome" role="tabpanel" aria-labelledby="seventhicontabhome">
                        <div class="service-text-new">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/PowerPlatform/PowerAutomate.svg" alt="Power Automate" width="70px" height="70px">
                                        <div class="skill-name">Power Automate</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/PowerPlatform/PowerApps.svg" alt="Power Apps" width="70px" height="70px">
                                        <div class="skill-name">Power Apps</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/PowerPlatform/PowerBI.svg" alt="Power BI" width="70px" height="70px">
                                        <div class="skill-name">Power BI</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/powerplatform/copilotstudio2.png" alt="Copilots" width="70px" height="70px">
                                        <div class="skill-name">Copilots</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6 text-center">
                                    <div class="skill-sec">
                                        <img src="~/assets/img/PowerPlatform/PowerPages.svg" alt="Power Pages" width="70px" height="70px">
                                        <div class="skill-name">Power Pages</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Technologies we work with -->