@*@page
    @model IndexModel
    @{
        ViewData["Title"] = "Home page";
    }*@


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1>Innovation Rebuild</h1>
                <h2>Current state of it does not align with your business strategy? Request our it consulting services now.</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="/contact" class="btn-get-started scrollto">Get Started</a>
                    <!--  <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>-->
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img text-center" data-aos="zoom-in" data-aos-delay="200">
                <img src="~/assets/img/hiredevelopers/image (4).gif" class="img-fluid animated" alt="" width="70%" height="70%" />
            </div>
        </div>
    </div>

</section><!-- End Hero -->
<!-- Clients Section -->

<section id="clients" class="clients section light-background container">
    <div class="container">
        <!-- Swiper -->
        <div class="swiper-container">
            <!-- Slider wrapper -->
            <div class="swiper-wrapper ">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div><img src="~/assets/img/React1.webp" class="img-fluid" alt="Client 1"></div>
                    <div class="text-container"><b>React Js</b></div>
                </div>
                <div class="swiper-slide text-center">
                    <div><img src="~/assets/img/dotnetcore.webp" class="img-fluid" alt="Client 2"></div>
                    <div class="text-container"><b>.Net Core</b></div>
                </div>
                <div class="swiper-slide">
                    <div><img src="~/assets/img/azure.webp" class="img-fluid" alt="Client 3"></div>
                    <div class="text-container"><b> Azure</b></div>
                </div>
                <div class="swiper-slide align">
                    <div><img src="~/assets/img/sql.webp" class="img-fluid" alt="Client 4"></div>
                    <div class="text-container"><b>SQL Server</b></div>
                </div>
                <div class="swiper-slide">
                    <div><img src="~/assets/img/git.webp" class="img-fluid" alt="Client 5"></div>
                    <div class="text-container"><b>Git Hub</b></div>
                </div>
                <div class="swiper-slide">
                    <div><img src="~/assets/img/boostrap.webp" class="img-fluid" alt="Client 6"></div>
                    <div class="text-container"><b>Boostrap</b></div>
                </div>
                <div class="swiper-slide">
                    <div><img src="~/assets/img/powerplatform/Dataverse.webp" class="img-fluid" alt="Client 1"></div>
                    <div class="text-container"><b>Dataverse</b></div>
                </div>
                <div class="swiper-slide text-center">
                    <div><img src="~/assets/img/powerplatform/PowerBI.webp" class="img-fluid" alt="Client 2"></div>
                    <div class="text-container"><b>Power BI</b></div>
                </div>
                <div class="swiper-slide">
                    <div><img src="~/assets/img/powerplatform/AIBuilder.webp" class="img-fluid" alt="Client 3"></div>
                    <div class="text-container"><b> AI Builder</b></div>
                </div>
                <div class="swiper-slide align">
                    <div><img src="~/assets/img/powerplatform/CopilotStudio2.webp" class="img-fluid" alt="Client 4"></div>
                    <div class="text-container"><b>Copilot Studio</b></div>
                </div>
                <div class="swiper-slide">
                    <div><img src="~/assets/img/powerplatform/PowerPlatform.webp" class="img-fluid" alt="Client 5"></div>
                    <div class="text-container"><b>Power Platform</b></div>
                </div>
                <div class="swiper-slide">
                    <div><img src="~/assets/img/powerplatform/PowerPages.webp" class="img-fluid" alt="Client 6"></div>
                    <div class="text-container"><b>Power Pages</b></div>
                </div>
                <div class="swiper-slide">
                    <div><img src="~/assets/img/powerplatform/PowerApps.webp" class="img-fluid" alt="Client 7"></div>
                    <div class="text-container"><b>Power Apps</b></div>
                </div>
                <div class="swiper-slide">
                    <div><img src="~/assets/img/powerplatform/PowerFx.webp" class="img-fluid" alt="Client 8"></div>
                    <div class="text-container"><b>Power FX</b></div>
                </div>
                <div class="swiper-slide">
                    <div><img src="~/assets/img/powerplatform/PowerAutomate.webp" class="img-fluid" alt="Client 9"></div>
                    <div class="text-container"><b>Power Automate</b></div>
                </div>
                <div class="swiper-slide">
                    <div><img src="~/assets/img/Flutter.webp" class="img-fluid" alt="Client 9"></div>
                    <div class="text-container"><b>Flutter</b></div>
                </div>
            </div>
            <!-- Pagination -->

        </div>
    </div>

</section>

<!-- Initialize Swiper -->
<script>
    // Ensure that Swiper is initialized once the DOM is fully loaded
    document.addEventListener('DOMContentLoaded', function () {
        const swiper = new Swiper('.swiper-container', {
            loop: true,
            speed: 2000,
            autoplay: {
                delay: 0, // Adjust the delay for autoplay (in milliseconds)
                disableOnInteraction: false, // Ensure autoplay continues after user interaction
            },

            breakpoints: {
                320: {
                    slidesPerView: 2,
                    spaceBetween: 40,
                },
                480: {
                    slidesPerView: 3,
                    spaceBetween: 60,
                },
                640: {
                    slidesPerView: 4,
                    spaceBetween: 80,
                },
                992: {
                    slidesPerView: 5,
                    spaceBetween: 120,
                },
                1200: {
                    slidesPerView: 6,
                    spaceBetween: 120,
                },
            },
            loopAdditionalSlides: 1,
            centeredSlides: true,
            slidesPerView: 'auto',
        });
    });
</script>

<!-- END Clients Section -->
<!--  About 2 Us Section -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>About Us</h2>
            <p align="justify" style="font-size:medium">
                IFOX is a global IT consulting and software engineering company delivering custom digital solutions that empower businesses to grow, adapt, and thrive.
                We specialize in crafting tailored software, web, and mobile applications, helping clients stay competitive in a fast-paced digital world. At IFOX, we
                combine deep industry knowledge with agile methodologies to deliver high-performance, scalable, and secure solutions. Whether you’re a startup building
                your digital foundation or an enterprise modernizing legacy systems, our expert team is here to support you — anywhere, anytime.
            </p><br />
            <p align="justify" style="font-size:medium">
                Founded in 2014, IFOX began its journey in enterprise solutions and has evolved into a full-service technology provider. Our services now span
                across IT consulting, web design and development, mobile app development, software testing, and cloud solutions. We understand the challenges
                businesses face with technology and offer smart, flexible strategies that lead to faster, more intelligent decision-making. What sets IFOX apart
                is our unwavering commitment to client success. We believe in building lasting partnerships by understanding our clients’ unique business goals
                and delivering solutions that not only meet expectations — but exceed them. With a client-first mindset, we ensure transparency, collaboration,
                and excellence in every project.
            </p><br />
        </div>
    </div>
</section>

<!-- END ABOUT US 2 SECTION -->
<!--call to action-->

<section id="call-to-action" class="call-to-action section dark-background">

    <img src="assets/img/office2.webp" alt="">

    <div class="container">

        <div class="row aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-9 text-center text-xl-start">
                <H3>Looking to Build a Powerful Web or Mobile Application?</H3>
                <p>Set up a consultation right now.</p>
            </div>
            <div class="col-xl-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="/contact">
                    Get
                    Started
                </a>
            </div>
        </div>

    </div>

</section>
<!--ENDcall to action-->

<section class="service-map">
    <div class="section-title">
        <h2>Our Service Map</h2>
    </div>
        <div class="service-container">
            <div class="service-sidebar">
                <ul>
                    <li class="tab active" data-tab="ai">Requirement Analysis</li>
                    <li class="tab" data-tab="cloud">Planning</li>
                    <li class="tab" data-tab="app-dev">Desing</li>
                    <li class="tab" data-tab="backend">Development</li>
                    <li class="tab" data-tab="web">Testing</li>
                    <li class="tab" data-tab="team">Deployment</li>
                    <li class="tab" data-tab="discovery">Maintenance</li>
                </ul>
            </div>
            <div class="service-content">
                <div class="ourservice-tab-content active" id="ai">
                    <h3><span class="highlight-line"></span>Requirement Analysis</h3>
                    <p>
                        To begin the requirement analysis, we first understand the core objectives of the project. Next, we identify the target audience to ensure the solution aligns with their needs. We then gather detailed inputs and expectations from all stakeholders involved. Finally, we collect any available content and resources to support the development process.
                    </p>
                    <div class="center-image-container">
                        <img src="~/assets/img/home/RequirementAnalysis.png" class="img-fluid zoom-effect" alt="">
                    </div>
                </div>
                <div class="ourservice-tab-content" id="cloud">
                    <h3><span class="highlight-line"></span>Planning</h3>
                    <p>In software development planning, it is crucial to define clear timelines that outline project milestones and deadlines. Proper resource allocation ensures that the right team members and tools are available at each stage. Choosing the appropriate technology stack is essential to meet project requirements and ensure scalability. Regularly reviewing milestones helps track progress and ensures the project stays on course for successful delivery.</p>
                    <div class="center-image-container">
                        <img src="~/assets/img/home/Planning.png" class="img-fluid zoom-effect" alt="">
                    </div>
                </div>
                <div class="ourservice-tab-content" id="app-dev">
                    <h3><span class="highlight-line"></span>Desing</h3>
                    <p>In the design phase of software development, UI/UX design plays a critical role in ensuring a seamless user experience. Creating prototypes for web applications helps visualize the interface and identify areas for improvement. Additionally, designing for social media branding ensures consistency across platforms and enhances user engagement. A well-thought-out design strategy aligns aesthetics with functionality, creating a positive experience for users.</p>
                    <div class="center-image-container">
                        <img src="~/assets/img/home/Design.png" class="img-fluid zoom-effect" alt="">
                    </div>
                </div>
                <div class="ourservice-tab-content" id="backend">
                    <h3><span class="highlight-line"></span>Development</h3>
                    <p>In the development phase of software projects, it's essential to build robust website features that meet user needs and business goals. Implementing a content management system (CMS) allows for easy updates and content control. Integrating donation systems provides seamless transactions, enhancing user engagement and supporting fundraising efforts. Additionally, developing social media assets ensures consistent brand presence and facilitates smooth interaction across platforms.</p>
                    <div class="center-image-container">
                        <img src="~/assets/img/home/Development.png" class="img-fluid zoom-effect" alt="">
                    </div>
                </div>
                <div class="ourservice-tab-content" id="web">
                    <h3><span class="highlight-line"></span>Testing</h3>
                    <p>In the testing phase of software development, functionality testing ensures that all features work as intended and meet the project's requirements. A security audit is essential to identify vulnerabilities and protect user data from potential threats. Additionally, browser and device compatibility checks ensure that the application performs well across different platforms and environments. Thorough testing helps guarantee a smooth and secure user experience across all devices.</p>
                    <div class="center-image-container">
                        <img src="~/assets/img/home/Testing.png" class="img-fluid zoom-effect" alt="">
                    </div>
                </div>
                <div class="ourservice-tab-content" id="team">
                    <h3><span class="highlight-line"></span>Deployment</h3>
                    <p>The website is hosted on a reliable server to ensure optimal performance and availability. Once the hosting is set up, the site goes live, making it accessible to users worldwide. The donation system is then configured to handle transactions securely and efficiently. Finally, social media profiles are launched to promote the website, engage users, and enhance the project's online presence.</p>
                    <div class="center-image-container">
                        <img src="~/assets/img/home/Deployment.png" class="img-fluid zoom-effect" alt="">
                    </div>
                </div>
                <div class="ourservice-tab-content" id="discovery">
                    <h3><span class="highlight-line"></span>Maintenance</h3>
                    <p>In the maintenance phase of software development, ongoing updates are crucial to keep the system up-to-date with the latest features and security patches. Regular backups ensure that data is safe and can be restored in case of any issues. Performance monitoring helps identify and address potential bottlenecks, ensuring the website runs smoothly. Continuous support is provided to resolve any issues users may encounter and maintain the overall functionality of the system.</p>
                    <div class="center-image-container">
                        <img src="~/assets/img/home/Maintenance.png" class="img-fluid zoom-effect" alt="">
                    </div>
                </div>
            </div>
        </div>
</section>

<!--WHO WE ARE-->
<section id="skills" class="skills section">
    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center">
                <img src="~/assets/img/hiredevelopers/Sales4.webp" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 content align-content-center" data-aos="fade-up" data-aos-delay="100">
                <div class="section">
                    <h4>Who We Are?</h4>
                    <ul class="list-unstyled">
                        <li class="d-flex align-items-start">
                            <i class="bi bi-check2-circle"></i>We believed in our potential to achieve more.
                        </li>
                        <li class="d-flex align-items-start">
                            <i class="bi bi-check2-circle"></i> We recognized the need to go beyond expectations.
                        </li>
                        <li class="d-flex align-items-start">
                            <i class="bi bi-check2-circle"></i> When technology fell short, we took charge and built superior solutions from scratch.
                        </li>
                        <li class="d-flex align-items-start">
                            <i class="bi bi-check2-circle"></i> Good enough" is never enough for us.
                        <li class="d-flex align-items-start">
                            <i class="bi bi-check2-circle"></i> We're driven by a restless belief that there's always room for improvement.
                        <li class="d-flex align-items-start">
                            <i class="bi bi-check2-circle"></i> We focus on every detail and take pride in our meticulous approach.
                        </li>
                        <li>
                            <i class="bi bi-check2-circle"></i> 24/7 client support
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--END WHO WE ARE-->


<section id="hero" class="d-flex align-items-center text-center h-25">
    <div class="container pt-1">
        <h3 class="text-white"><b>Our Journey and Commitment</b></h3>
        <p class="text-white">Tailoring solutions to optimize financial workflows and ensure regulatory compliance. Enhancing performance and scalability for efficient financial management. We  Designing, implementing, and customizing enterprise systems for securities trading, portfolio management, asset securitization, risk management, and e-finance operations</p>
    </div>
</section>

<style>
    .center-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; /* or the width of the container */
    }

        .center-image-container img {
            width: 40%;
            height: 40%;
        }

</style>

<script>
    const tabs = document.querySelectorAll(".tab");
    const contents = document.querySelectorAll(".ourservice-tab-content");

    tabs.forEach(tab => {
        tab.addEventListener("click", () => {
            // Remove active classes
            tabs.forEach(t => t.classList.remove("active"));
            contents.forEach(c => c.classList.remove("active"));

            // Add active class to clicked tab
            tab.classList.add("active");
            const target = tab.getAttribute("data-tab");
            document.getElementById(target).classList.add("active");
        });
    });
</script>


