@*@page
    @model IndexModel
    @{
        ViewData["Title"] = "Home page";
    }*@


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1>IT Services</h1>
                <h2>Current state of it does not align with your business strategy? Request our it consulting services now.</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    <!--  <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>-->
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>About Us</h2>

                    <p align="justify">
                        ifox provides customized and distinct IT consulting services and technology solutions across different industries, such
                        as strategy, innovation, problem-solving, and business transformation. Ifox, on the other hand,
                        offers advanced technology to assist global enterprises in transforming their businesses. Our
                        consulting expertise covers a wide range of crucial capabilities, including business case
                        development, process innovation and implementation, and benefits realization. We excel in
                        developing digital solutions, including E-Commerce, CRM, and ERP support services, which
                        combine user-centricity, technical excellence, and innovative approaches amidst the disruptive
                        digital landscape. As one of the leading IT consulting companies, we can assist you in preparing
                        for next-generation line-of-business applications that enable more adaptable and collaborative
                        business processes.
                        
                        ifox consulatancy services was founded in 2004 with a primary focus on developing web applications &
                        mobile applications. Over time, it has evolved into a complete solutions and technology partner,
                        catering to small and medium-sized businesses and large enterprises. Through consistent growth
                        and a cash flow-oriented approach to IT services, ifox has developed solutions and services that
                        are versatile and independent. The company's effective management, domain expertise, and agile
                        teams have established ifox as a reputable and rapidly expanding business. ifox’s expertise
                        and   services   are   designed   to   empower   businesses   in   seamlessly   navigating   the   digital
                        transformation process, enabling them to leverage the scalability and rapid innovation of
                        industrial evolution.

                    </p>
                </div>

            </div>
        </section><!-- End About Us Section -->


    </div>
</section><!-- End About Us Section -->