@*@page
    @model IndexModel
    @{
        ViewData["Title"] = "Home page";
    }*@


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1>Innovation Rebuild</h1>
                <h2>Current state of it does not align with your business strategy? Request our it consulting services now.</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    <!--  <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>-->
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="~/assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About Us</h2>

            <p align="justify" style="font-size:medium">
                IFOX an unique IT engineering and consulting platform serving our clients globally with custom software solutions.
                We help our clients to thrive in the digital era with cutting-edge technology. IFOX’s dynamic environment and innovative
                agile approach serves you better from anywhere-anytime solutions for meaningful client interactions. With our professional
                experience and skills, we solve problems and makes decisions much more quickly and intelligently.
            </p><br />
            <p align="justify" style="font-size:medium">
                In 2014, IFOX started as Microsoft Dynamic 365 Service providers and experienced first-hand obstacles client will face in
                terms of technology and customer support. Now IFOX grows better with full-spectrum technology suppliers and offers creative
                solutions to meet organizations' evolving demands. Our expertise spans a wide array of services including IT consulting, web
                designing, web development, software testing, mobile app development, software testing and comprehensive cloud support. We strive
                for excellence by employing cutting-edge technology and best practices in assisting our clients succeed. Our team of
                knowledgeable experts is prepared to help you at any stage, whether you're a startup trying to develop your online presence
                or an existing business looking to update and streamline.
            </p><br />
        </div>
        <div>
            <h4>Who We Are?</h4>
            <ul>
                <li>We believed in our potential to achieve more. </li>
                <li>We recognized the need to go beyond expectations. </li>
                <li>When existing technology fell short, we took matters into our own hands and built superior solutions from the ground up. </li>
                <li>"Good enough" is never enough for us. </li>
                <li>We're driven by a restless belief that there's always room for improvement.</li>
                <li>That’s why we pay attention to every detail, and we take pride in our meticulous approach.</li>
                <li>24/7 client support</li>
            </ul>
        </div>
    </div>
</section><!-- End About Us Section -->
